.container {
    display:block;
    align-items: center;
    width: 300px;
    box-sizing: border-box; 
    border: solid #5B6DCD 2px;
    margin: 15px;
    padding: 15px;
}

img {
    height: 200px;
}

.ocultar {
    display: none;
}

.mostrar {
    display: inline;
}